@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cập nhật thông tin cá nhân";
}

<div>
    <h3>Đyaa là cập nhật thông tin</h3>
</div>
